@media (max-width: 446px) {
    .Products {
       width: 300px;
       margin-top: 40px;
    }

    .ImageContainer {
        margin-top: 40px;
        padding: 0px 10px 10px 0px;
    }

    .UploadBox {
        width: 100px;
        height: 75px;
    }

    .Warning {
        margin-top: 0;
    }

    .FormBox {
        margin-left: 0;
    }

    .parentUpload{
        height: 60px;
        padding-left: 0;
    }

}

@media (min-width: 768px) and (max-width: 836px) {
    .parent {
        width: 320px;
    }
}
