.Background {

    background-image: url("https://img.freepik.com/premium-photo/business-people-shaking-hands-finishing-up-meeting-al-generated_866663-3427.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.953),
        rgba(0, 0, 0, 0.479)
      ), url("https://img.freepik.com/premium-photo/business-people-shaking-hands-finishing-up-meeting-al-generated_866663-3427.jpg");

}

@media (max-width: 396px) { 

  .ModalSize {

    width: 80%;

  }

}


@media (min-width: 483px) {

  .marginLeft {

    margin-left: 8px;

  }

  .ProductPrice {

    margin-left: 13px;

  }

  .Qty {

    margin-left: 25px;

  }

 }



@media (max-width: 640px) { 

  .input-width {

    width: 91.666667%;
    margin-left: 0;
    margin-top: 12px;
  
  }

  .Margin {

    margin-top: 12px;

  }

  .BackgroundBox {

    background-image: url("https://img.freepik.com/premium-photo/business-people-shaking-hands-finishing-up-meeting-al-generated_866663-3427.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.953),
        rgba(0, 0, 0, 0.479)
      ), url("https://img.freepik.com/premium-photo/business-people-shaking-hands-finishing-up-meeting-al-generated_866663-3427.jpg");

}

}

input.placeholder-large::placeholder,
textarea.placeholder-large::placeholder {
  color: gray;
  font-size: 14px;
}



.custom-color {

  background-color: #ebecf4;

}

.customwhite {

  filter: drop-shadow(-15px 4px 0px #000000);
  background-color: #fdfcff;

}
